.container {
height: 100vh;
width: 100vw;
}

.AnimateGif {
  height: 100vh;
  width: 100%;
}

@media screen and (max-width: 720px) {
  .AnimateGif {
    background: url('../assets/planoempresa.gif');
    background-size: cover;
  }
}